{% extends "base.html" %}
<div class="container">
  <div class="card">
    <div class="card-header">
      Indoor Rock Climbing at Climb So iLL
    </div>
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">$29 for a day pass with equipment rental for two climbers ($56 value)
$39 for the Intro to Climbing class ($78 value)
$59 for a one-month membership with gear rental ($118 value)</p>
      <a href="#" class="btn btn-primary">SEE</a>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
     Unlimited Boxing
    </div>
    <div class="card-body">
      <h4 class="card-title">Special title treatment</h4>
      <p class="card-text">To succeed as a boxer, all you need is good instincts, quick hands, and a willingness to be seen in large, gaudy belts. See if you have what it takes with this voucher.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
